* {
  box-sizing: border-box;
}

.viewport {
  max-width: 375px;
  max-height: 667px;
  overflow: hidden;
  margin: 0 auto;
  -webkit-transform: translateZ(0);
  /* Optional: When heavy at iOS6+ */
}

.flipsnap {
  width: 1125px;
  /* 320px(item width) * 3(item count) */
}

.flipsnap:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

.item {
  float: left;
  width: 375px;
  height: 667px;
  font-size: 50px;
  background-position: center;
  background-size: cover;
  text-align: center;
  background: #EFEFEF;
  color: #666;
}