* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.containr-sp {
  display: none;
}

.main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 667px) {
  .main {
    display: none;
  }
  .containr-sp {
    display: block;
    width: 375px;
    height: 667px;
    overflow: hidden;
    margin: 0 auto;
  }
  .comment {
    display: flex;
    justify-content: left;
    position: relative;
    margin-bottom: 10px;
    top: 500px;
  }
  .comment img {
    border-radius: 50%;
    margin-right: 10px;
    opacity: 0.8;
  }
  .comment-area {
    background-color: white;
    opacity: 0.8;
    width: 100%;
    margin: 5px 10px;
    padding: 5px;
    border-radius: 10px;
  }
}